h1, h2{
    text-align: center;
    font-family: Arial;
}

h4{
    color: green;
    background-color: #8ab70e;
    margin-right: 10px;
    border-radius: 40px
}

fieldset{
    background-color: grey;
    border:1;
    border-radius: 10px;
}

legend{
    font-weight: bold;
    background-color: #8e8f91;
    border-radius: 10px;
    font-family: arial;
    font-size: 20px;
    padding: 5px;
    border: 20px;
}

body{
    background-color: #dadbdd;
}