body{
    margin: 0;
    padding: 12;
    background-color: darkgrey;
}


h1{
    color:#3b556d;
    text-align: match-parent;
    font-family: Verdana;
    font-size: 25;
    
}
.header{
    background-color: #3b556d;
    height: 80px;
    margin:10px;
    border-radius: 10px;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    
}

ul li a{
    color: black;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-family: arial;
}

ul li a:hover{
    color:antiquewhite;
    text-decoration: underline;
}


.bigheader{
    background: #0b162c;
    padding: 10;
    border-radius: 10px;
}